* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.flex-cc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 80px 0;
}

ul {
    list-style-type: none;
}

.page {
    margin: 60px 0 15px 0;
}

.page li {
    margin: 0 5px;
    color: #4C5152;
    padding: 6px 20px;
    cursor: pointer;
    font-size: 12px;
}

.previousPage,
.nextPage {
    margin: 0 2px;
    color: #aab3b4;
    padding: 6px 20px;
    cursor: pointer;
    font-size: 8px;
}

.page-numbers:hover,
.previousPage:hover,
.nextPage:hover {
    background-color: #eee;
    transition: all 0.2s linear;
    border-radius: 20px;
}

.activePage {
    background-color: #F92A77;
    color: #fff;
    padding: 6px 20px;
    border-radius: 20px;
}